<!-- My Profile -->
<div ng-if="$ctrl.user.logged_in" class="section group">
	<h3 ng-if="$ctrl.profile.workers.wrestler.length" class="center-narrow">My Wrestlers</h3>
	<table ng-if="$ctrl.profile.workers.wrestler.length" class="wrestlers table table-striped" id="user-wrestlers-table">
		<thead>
			<th>Wrestler</th>
			<th>Promotion</th>
			<th>Height</th>
			<th class="hide-narrow">Weight</th>
		</thead>
		<tbody>
			<tr ng-repeat="wrestler in $ctrl.profile.workers.wrestler" class="">
				<td>
					<wrestler-link worker-id="{{wrestler.id}}" name="{{wrestler.short_name}}"></wrestler-link>
				</td>
				<td>{{wrestler.promotion.short_name}}</td>
				<td>
					{{wrestler.height_formatted}}
				</td>
				<td>
					{{wrestler.weight}}
				</td>
			</tr>
		</tbody>
	</table>

	<h3 ng-if="$ctrl.profile.promotions.length" class="center-narrow">My Promotions</h3>
	<table ng-if="$ctrl.profile.promotions.length" class="promotions table table-striped" id="user-promotions-table">
		<thead>
			<th>Promotion</th>
		</thead>
		<tbody>
			<tr ng-repeat="promotion in $ctrl.profile.promotions" class="">
				<td>
					<promotion-link promotion-id="{{promotion.id}}" name="{{promotion.short_name}}"></promotion-link>
				</td>
			</tr>
		</tbody>
	</table>

	<h3 ng-if="$ctrl.profile.workers.manager.length" class="center-narrow">My Managers</h3>
	<table ng-if="$ctrl.profile.workers.manager.length" class="managers table table-striped" id="user-managers-table">
		<thead>
			<th>Manager</th>
			<th>Promotion</th>
			<th>Gender</th>
		</thead>
		<tbody>
			<tr ng-repeat="manager in $ctrl.profile.workers.manager" class="">
				<td>
					<wrestler-link worker-id="{{manager.id}}" name="{{manager.short_name}}"></manager-link>
				</td>
				<td>{{manager.promotion.short_name}}</td>
				<td>
					{{manager.gender == 'F' ? 'Female' : 'Male'}}
				</td>
			</tr>
		</tbody>
	</table>

	<h3 ng-if="$ctrl.profile.tag_teams.length" class="center-narrow">My Tag Teams</h3>
	<table ng-if="$ctrl.profile.tag_teams.length" class="teams table table-striped" id="user-teams-table">
		<thead>
			<th>Team</th>
			<th>Promotion</th>
		</thead>
		<tbody>
			<tr ng-repeat="team in $ctrl.profile.tag_teams" class="">
				<td>
					<team-link team-id="{{team.id}}" name="{{team.short_name}}"></team-link>
				</td>
				<td>{{team.promotion.short_name}}</td>
			</tr>
		</tbody>
	</table>
</div>
