body#gamebot {
	background: green;
	padding: 0;
	margin: 0;
}
ul {
	list-style-type: none;
}
ul#header-icons li.header-icon ul.icon-dropdown-menu li.dropdown-listing span a {
    width: 100%;
    height: auto;
	padding: 3px 0;
}
a {
	cursor: pointer !important;
}
div#header {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.section h3, .section .h3 {
	margin-top: 8px;
}
.ng-scope .col {
	margin-top: 0;
}
.ex {
    text-decoration: line-through;
}
@media screen and (max-width: 480px) {
	.col p {
		padding: 3px 15px;
	}
	ul#header-icons li.header-icon {
		width: 45px;
		height: 35px;
	}
	ul.icon-dropdown-menu {
		width: 300px;
	}
	table.table { 
		width: 100%;
 	}
	.show-narrow {
		display: auto;
	}
	.hide-narrow {
		display: none;
	}
	.center-narrow {
		text-align: center;
	}
}
@media screen and (min-width: 481px) {
	ul#header-icons li.header-icon {
		width: 45px;
		height: 35px;
	}
	ul.icon-dropdown-menu {
		width: 400px;
	}
	.show-narrow {
		display: none;
	}
	.hide-narrow {
		display: auto;
	}
	table.table { 
		width: 90%;
	}
}
h4.show-narrow, .show-narrow h4 {
	text-align: center;
}

div#login-form {
	text-align: left;
}

div#login-form label {
	width: 160px;
	margin: 10px;
}
div#login-form input[type=radio] {
	margin: 10px 5px 10px 10px;
}
div#login-form input[type=submit] {
	margin: 10px;
}

div#player-list {
	background: white;
	border: 1px solid black;
	max-width: 400px;
	padding: 10px;
}

div#player-list ul li.current {
	background: cyan;
}

div#channel-window {
	background: white;
	border: 1px solid black;
	max-width: 400px;
	padding: 10px;
}

