ul {
	list-style-type: none;
}
.site-icon {
	background-image: url('/img/site-icons.png');
	background-repeat: none;
}
.site-icon.small-left-arrow,
.site-icon.small-right-arrow,
.site-icon.small-up-arrow,
.site-icon.small-down-arrow
 {
	height: 10px !important;
	width: 10px !important;
}
.site-icon.preview-eye {
	width: 40px !important;
	height: 20px !important;
}
.site-icon.filters {
	width: 20px !important;
	height: 20px !important;
}
.site-icon.left-arrow,
.site-icon.right-arrow,
.site-icon.up-arrow,
.site-icon.down-arrow
 {
	height: 20px !important;
	width: 20px !important;
}
.site-icon.preview-eye.white {
	background-position: -180px -20px;
}
.site-icon.preview-eye {
	background-position: -180px 0px;
}
.site-icon.small-left-arrow {
	background-position: -50px -10px;
}
.site-icon.small-right-arrow {
	background-position: -50px 0px;
}
.site-icon.small-up-arrow {
	background-position: -40px -10px;
}
.site-icon.small-down-arrow {
	background-position: -40px 0px;
}
.site-icon.left-arrow {
	background-position: -120px 0px;
}
.site-icon.right-arrow {
	background-position: -100px 0px;
}
.site-icon.up-arrow {
	background-position: -140px 0px;
}
.site-icon.down-arrow {
	background-position: -160px 0px;
}
.site-icon.filters {
	background-position: -220px 0px;
}
.site-icon.filters.active {
	background-position: -220px -20px;
}
ul#header-icons li.header-icon ul.icon-dropdown-menu li.dropdown-listing span a {
    width: 100%;
    height: auto;
	padding: 3px 0;
}
body {
	padding: 0;
	margin: 0;
}
a {
	cursor: pointer !important;
}
div#header {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
body#npw h1, body#npw .h1 {
	font-size: 2em;
	margin-top: 0;
}
ul#mainNav li {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
ul#mainNav li a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: white;
	background: #ea2e2b;
	overflow: hidden;
}
ul#mainNav li.active a,
ul#mainNav li.active {
	background: #000;
}
.section h3, .section .h3 {
	margin-top: 8px;
}
.ng-scope .col {
	margin-top: 0;
}
.ex {
    text-decoration: line-through;
}
@media screen and (max-width: 480px) {
	.col p {
		padding: 3px 15px;
	}
	ul#body-part-tabs li {
		width: 160px;
	}
	ul#header-icons li.header-icon {
		width: 45px;
		height: 35px;
	}
	ul.icon-dropdown-menu {
		width: 300px;
	}
	ul#mainNav {
		list-style-type: none;
		background: #ea2e2b;
		width: 100%;
		display: block;
		height: 25px;
		margin-bottom: 0;
	}
	ul#mainNav li {
		height: 100%;
		display: inline-block;
		width: 19.0%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	ul#mainNav a {
		color: white;
		font-size: .7em;
		padding-top: 5px;
	}
	div#mainNavContainer {
		margin: 0;
	}
	div.header_logo {
		padding-left: 15px;
	}
	table.table { 
		width: 100%;
 	}
	div#worker-detail {
		padding-left: 15px;
	}
	.show-narrow {
		display: auto;
	}
	.hide-narrow {
		display: none;
	}
	.center-narrow {
		text-align: center;
	}
	ul#mainNav li#nav-teams {
		width: 18.8%;
	}
}
@media screen and (min-width: 481px) {
	div.profile-image-container {
		padding-top: 10px;
	}
	ul#header-icons li.header-icon {
		width: 45px;
		height: 35px;
	}
	ul#body-part-tabs li {
		width: 190px;
	}
	ul.icon-dropdown-menu {
		width: 400px;
	}
	ul#mainNav {
		margin-left: 15px;
		list-style-type: none;
		background: black;
		max-width: 165px;
		display: block;
		border: 1px solid black;
		margin-top: 10px;
	}
	.show-narrow {
		display: none;
	}
	.hide-narrow {
		display: auto;
	}
	ul#mainNav li {
		background: #ea2e2b;
		height: 25px;
		display: block;
		border: 2px solid black 1px solid black;
		width: 100%;
		padding: 3px;
		margin: 2px 0;
	}
	ul#mainNav a {
		color: white;
		font-size: .9em;
	}
	div.header_logo {
		padding-left: 15px;
	}
	ul li.thumbnail.ng-scope {
		width: 98%;
		min-width: 300px;
	}
	table.table { 
		width: 90%;
 	}
}
body#npw h4 {
	font-size: 1.5em;
	font-weight: bold;
}
ul li.thumbnail.ng-scope {
	width: 98%;
	min-width: 300px;
}
body#npw td a {
	color: #b11414;
	font-weight: bold;
}
body#npw .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #ededed;
}
.power-bar {
	background-image: url('/img/power-bar-gradient.png');
	background-repeat: repeat-y;
}
.power-bar-container {
	background: #666;
}
ul.contenders {
	list-style-type: none;
}
ul.contenders li {

}
h4.show-narrow, .show-narrow h4 {
	text-align: center;
}

/* HEADER ICONS */

	ul#header-icons {
		position: absolute;
		right: 25px;
		top: 8px;
		width: 90px;
		float: right;
	}
	ul#header-icons li.header-icon {
	    display: inline;
	    text-align: right;
	    margin: 0;
	    padding: 0;
	    float: left;
	}
	ul#header-icons li.header-icon a {
		display: block; 
		height: 35px; 
		width: 35px;
/*		margin-bottom: 3px;*/
	}
	ul#header-icons li.header-icon a.notifications {
		background: url('../img/header-icons.png') no-repeat 0px 0px;
	}
	ul#header-icons li.header-icon a.notifications.active,
	ul#header-icons li.header-icon a.notifications:hover
	{
		background-position: -35px 0px;
	}
	ul#header-icons li.header-icon a.notifications.alert,
	ul#header-icons li.header-icon a.notifications:active
	{
		background-position: -70px 0px;
	}
	ul#header-icons li.header-icon a.profile {
		background: url('../img/header-icons.png') no-repeat 0px -35px;
	}
	ul#header-icons li.header-icon a.profile.active,
	ul#header-icons li.header-icon a.profile:hover
	{
		background-position: -35px -35px;
	}
	ul#header-icons li.header-icon a.profile.alert,
	ul#header-icons li.header-icon a.profile:active {
		background-position: -70px -35px;
	}
	span.notification-count {
	    display: block;
	    background: #1414b1;
	    width: 20px;
	    height: 18px;
	    border: 1px solid white;
	    color: white;
	    position: relative;
	    z-index: 5000;
	    bottom: -5px;
	    right: -5px;
	    font-size: .8em;
	    font-family: sans-serif;
	    text-align: center;
	    vertical-align: middle;
	    padding-top: 1px;
	    font-weight: bold;
	}

	ul.icon-dropdown-menu {
		display: block;
		position: absolute;
		right: 5px;
		list-style-type: none;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	ul.icon-dropdown-menu li.dropdown-listing.unseen {
		background: white;
		font-weight: bold;
	}

	li.icon-dropdown-menu-item {
		background: white;
		font-weight: bold;
	}

	ul.icon-dropdown-menu li.dropdown-listing.see-all {
		background: #1414b1;
	}

	ul.icon-dropdown-menu li.dropdown-listing.see-all a {
		color: white;
		font-weight: bold;
	}

	ul.icon-dropdown-menu li.dropdown-listing.seen {
		background: #7db6b0;
	}

	ul.icon-dropdown-menu li.dropdown-listing {
		color: black;
		text-align: left;
		padding-left: 10px;
		border-top: 1px solid black;
		border-bottom: none;
	}

	ul.icon-dropdown-menu li.dropdown-listing span.ts {
		font-size: .8em;
		color: #666;
		display: block;
		padding: 0 0 3px 0;
		margin-top: -3px;
	}

	/* END HEADER ICONS */
	
	div#championship-detail {
		padding-top: 15px;
	}

	ul.detail-list li {
		text-align: left;
		padding-left: 15px
	}
	
	div.skill-container {
		margin-left: 0; 
		margin-bottom: 10px; 
		width: 32.5% !important;
	}

	div.skill-container label {
		font-size: .8em;
		font-weight: normal;
	}
	div.create-wrestler label {
		display: block;
	}

	form#create-wrestler input, form#create-wrestler select {
		width: 100%;
		margin-bottom: 10px;
	}
	
	
	
	
	
	
	
	
	/*! jQuery UI - v1.10.3 - 2013-10-08
	* http://jqueryui.com
	* Includes: jquery.ui.core.css, jquery.ui.slider.css
	* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

	/* Layout helpers
	----------------------------------*/
	.ui-helper-hidden {
		display: none;
	}
	.ui-helper-hidden-accessible {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.ui-helper-reset {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		line-height: 1.3;
		text-decoration: none;
		font-size: 100%;
		list-style: none;
	}
	.ui-helper-clearfix:before,
	.ui-helper-clearfix:after {
		content: "";
		display: table;
		border-collapse: collapse;
	}
	.ui-helper-clearfix:after {
		clear: both;
	}
	.ui-helper-clearfix {
		min-height: 0; /* support: IE7 */
	}
	.ui-helper-zfix {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		opacity: 0;
		filter:Alpha(Opacity=0);
	}

	.ui-front {
		z-index: 100;
	}


	/* Interaction Cues
	----------------------------------*/
	.ui-state-disabled {
		cursor: default !important;
	}


	/* Icons
	----------------------------------*/

	/* states and images */
	.ui-icon {
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background-repeat: no-repeat;
	}


	/* Misc visuals
	----------------------------------*/

	/* Overlays */
	.ui-widget-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.ui-slider {
		position: relative;
		text-align: left;
	}
	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: default;
	}
	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}

	/* For IE8 - See #6727 */
	.ui-slider.ui-state-disabled .ui-slider-handle,
	.ui-slider.ui-state-disabled .ui-slider-range {
		filter: inherit;
	}

	.ui-slider-horizontal {
		height: .8em;
	}
	.ui-slider-horizontal .ui-slider-handle {
		top: -.3em;
		margin-left: -.6em;
	}
	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}
	.ui-slider-horizontal .ui-slider-range-min {
		left: 0;
	}
	.ui-slider-horizontal .ui-slider-range-max {
		right: 0;
	}

	.ui-slider-vertical {
		width: .8em;
		height: 100px;
	}
	.ui-slider-vertical .ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -.6em;
	}
	.ui-slider-vertical .ui-slider-range {
		left: 0;
		width: 100%;
	}
	.ui-slider-vertical .ui-slider-range-min {
		bottom: 0;
	}
	.ui-slider-vertical .ui-slider-range-max {
		top: 0;
	}
	
	
/*	AVATAR EDITOR STUFF*/
	ul#avatar-section-tabs {
		list-style-type: none;
		padding: 0px;
		margin: 0px 0px 10px 0px;
		height: 30px;
		overflow: hidden;
	}
	ul#avatar-section-tabs li {
		display: inline-block;
		height: 100%;
		width: 50px;
		background: black;
		margin: 0;
	}
	ul#avatar-section-tabs li a {
		display: block;
		padding-top: 5px;
		height: 100%;
		width: 100%;
		overflow: hidden;
		text-transform: uppercase;
		color: white;
		text-align: center;
		text-decoration: none;
	}
	ul#avatar-section-tabs li:hover {
		background: grey;
	}
	ul#avatar-section-tabs li.active {
		background: red;
	}
	
	ul#body-part-tabs {
		list-style-type: none;
		float: left;
		padding: 0px;
	}
	ul#body-part-tabs li {
		display: block;
		overflow: hidden;
		color: black;
		margin-bottom: 5px;
		background: #7db6b0;
	}
	ul#body-part-tabs li.open {
		background: black;
		color: white;
	}
	ul#body-part-tabs li a {
		display: block;
		color: black;
		text-decoration: none;
		padding-left: 10px;
		padding-top: 8px;
		overflow: hidden;
		width: 100%;
		height: 40px;
	}
	ul#body-part-tabs li.open a {
		color: white;
	}
	.site-icon.plus-minus {
		height: 20px;
		width: 20px;
		display: inline-block;
	}
	.site-icon.plus-minus.inner-right {
	    position: relative;
	    right: 10px;
	    float: right;	
	}
	.site-icon.plus-minus.open {
		background-position: 0px -20px;
	}
	.site-icon.plus-minus.closed {
		background-position: -20px 0px;
	}
	.bodypart-editor {
		color: black;
	}
	.bodypart-editor.ng-hide-add, .bodypart-editor.ng-hide-remove {
	  transition: all linear 0.5s;
	}
	
	.bodyPart{
		background: none;
		position: absolute;
		margin-left: 24%;
	}

	#avatarDesign img,canvas{
	  display: none;
	}

	#body{
	  width: 72px;
	  height: 108px;
	  background-repeat: no-repeat;
	  top: 20px;
	  left: 0px;
	  z-index: 1000;
	  background-image: url('/images/npw/avatar/new-npw/sw-body.png');
	}

	canvas, img.avatar-model {
		display: none !important;
	}

/*	END AVATAR EDITOR STUFF*/
	
	div#player-list {
		background: white;
		border: 1px solid black;
		max-width: 400px;
		padding: 10px;
	}
	
	div#player-list ul li.current {
		background: cyan;
	}

	div#channel-window {
		background: white;
		border: 1px solid black;
		max-width: 400px;
		padding: 10px;
	}
	
	div#play-area {
		background: #313131;
		padding: 10px;
	}
	div#discard {
		float: left;
		display: inline-block;
	}
	div#deck {
		float: left;
		display: inline-block;
		margin-right: 15px;
	}
	div#hand {
		padding: 10px;
		color: white;
	}
	div#game-menu {
		background: #313131;
		padding: 10px;
	}