.bodyPart{
	background: none;
	position: absolute;
	margin-left: 24%;
}
div.sliderContainer {
	width: 120px;
	display: inline-block;
	margin: 15px 0 0 0;
	height: 50px;
}
div.colorSlider {
	width: 85%;
	margin: 5px 0 0 0;
}
div#colorPicker {
	position: absolute;
	top: 200px;
	left: 443px;
}
div#colorPresets {
	background: #009999;
    border: 1px solid black;
    height: 150px;
    width: 40%;
    position: absolute;
    top: 10px;
    left: 380px;
}

#avatar-window {
	background: #FFF url('http://i.imgur.com/ZGtfZWA.png') -380px -120px;
	border: 1px solid black;
	display: inline-block; 
	height: 150px; 
	width: 150px; 
	margin-left: 5px; 
	margin-right: 5px;
	position: relative;
	float: left;
}

select.body-part-select {
	width: 150px;
	margin-left: 15px;
}
ul#body-part-list {
	margin-top: 6px;
}
#face{
  width: 18px;
  height: 18px;
  top: 28px;
  left: 34px;
  z-index: 2800;
  background-image: url('/images/npw/avatar/new-npw/sw-face.png');
}
#eyes{
  width: 18px;
  height: 6px;
  top: 34px;
  left: 30px;
  z-index: 2800;
  background-image: url('/images/npw/avatar/new-npw/sw-eyes.png');
}
#ears{
  width: 18px;
  height: 10px;
  top: 35px;
  left: 41px;
  z-index: 2800;
  background-image: url('/images/npw/avatar/new-npw/sw-ears.png');
}
#nose{
  width: 10px;
  height: 8px;
  top: 36px;
  left: 30px;
  z-index: 2800;
  background-image: url('/images/npw/avatar/new-npw/sw-nose.png');
}
#mouth{
  width: 10px;
  height: 8px;
  top: 42px;
  left: 31px;
  z-index: 2800;
  background-image: url('/images/npw/avatar/new-npw/sw-mouth.png');
}
#eyecolor{
  width: 18px;
  height: 6px;
  top: 34px;
  left: 30px;
  z-index: 2800;
  background-image: url('/images/npw/avatar/new-npw/sw-eyecolor.png');
}
#body{
  width: 72px;
  height: 108px;
  background-repeat: no-repeat;
  top: 20px;
  left: 0px;
  z-index: 1000;
  background-image: url('/images/npw/avatar/new-npw/sw-body.png');
}
#shoesLeft{
  z-index: 1350;
  width: 24px;
  height: 32px;
  left: 27px;
  top: 88px;
  background-image: url('/images/npw/avatar/new-npw/sw-shoesLeft.png');
}
#shoesRight{
  z-index: 1350;
  width: 24px;
  height: 32px;
  left: 15px;
  top: 84px;
  background-image: url('/images/npw/avatar/new-npw/sw-shoesRight.png');
}
#socksLeft{
  width: 24px;
  height: 32px;
  background-image: url('/images/npw/avatar/new-npw/sw-socksLeft.png');
  z-index: 1050;
  top: 87px;
  left: 32px;
}
#socksRight{
  width: 18px;
  height: 18px;
  background-image: url('/images/npw/avatar/new-npw/sw-socksRight.png');
  z-index: 1050;
  left: 21px;
  top: 86px;
}
#socks{
  z-index: 1050;
  width: 72px;
  height: 36px;
  left: 17px;
  top: 92px;
  background-image: url('/images/npw/avatar/new-npw/sw-foot-socks-tape-left.png');
}
#trunks{
  width: 18px;
  height: 18px;
  top: 67px;
  left: 29px;
  z-index: 1200;
  background-image: url('/images/npw/avatar/new-npw/sw-trunks.png');
}              
#trunksemblem{
  width: 18px;
  height: 18px;
  top: 59px;
  left: 24px;
  z-index: 1250;
  background-image: url('/images/npw/avatar/new-npw/sw-trunksemblem.png');
}              
#pants{
  width: 54px;
  height: 54px;
  top: 59px;
  left: 24px;
  z-index: 1300;
  background-image: url('/images/npw/avatar/new-npw/sw-pants.png');
}              
#pantsemblem{
  width: 30px;
  height: 50px;
  top: 59px;
  left: 24px;
  z-index: 1350;
  background-image: url('/images/npw/avatar/new-npw/sw-pantsemblem.png');
}              
#pantsstripe{
  width: 30px;
  height: 54px;
  top: 58px;
  left: 21px;
  z-index: 1340;
  background-image: url('/images/npw/avatar/new-npw/sw-pantsstripe.png');
}              
#shirt{
  width: 20px;
  height: 24px;
  top: 48px;
  left: 29px;
  z-index: 2700;
  background-image: url('/images/npw/avatar/new-npw/sw-shirt.png');
}              
#hair{
  width: 36px;
  height: 36px;
  z-index: 2900;
  top: 14px;
  left: 24px;
  background-image: url('/images/npw/avatar/new-npw/sw-hair.png');
}
#leggings{
  width: 36px;
  height: 36px;
  z-index: 1400;
  top: 85px;
  left:21px;
  background-image: url('/images/npw/avatar/new-npw/sw-leggings.png');
}    
.leggings0,
.shirt0,
.trunks0,
.trunksemblem0,
.pants0,
.pantsemblem0,
.pantsstripe0,
.kneepadsLeft0,
.kneepadsRight0,
.wristpadsleft0,
.wristpadsright0,
.elbowpadsleft0,
.elbowpadsright0,
.shoesLeft0,
.socksLeft0,
.shoesRight0,
.socksRight0,
.face0,
.hair0{
  background-position: 36px 36px;
  display: none !important;
}
#wristpadsLeft{
  width: 18px;
  height: 18px;
  z-index: 2600;
  background-image: url('/images/npw/avatar/new-npw/sw-wristpads.png');
  top: 74px;
  left: 15px;
}
#wristpadsRight{
  width: 18px;
  height: 18px;
  z-index: 2600;
  background-image: url('/images/npw/avatar/new-npw/sw-wristpads.png');
  top: 72px;
  left: 48px;
}
#elbowpadsLeft{
  width: 18px;
  height: 18px;
  z-index: 2600;
  background-image: url('/images/npw/avatar/new-npw/sw-elbowpads.png');
  top: 62px;
  left: 15px;
}
#elbowpadsRight{
  width: 18px;
  height: 18px;
  z-index: 2600;
  background-image: url('/images/npw/avatar/new-npw/sw-elbowpads.png');
  top: 62px;
  left: 45px;
}
#kneepadsLeft{
  width: 18px;
  height: 18px;
  background-image: url('/images/npw/avatar/new-npw/sw-kneepadsLeft.png');
  z-index: 2600;
  top: 79px;
  left: 32px;
}
#kneepadsRight{
  width: 18px;
  height: 18px;
  background-image: url('/images/npw/avatar/new-npw/sw-kneepadsRight.png');
  z-index: 2600;
  top: 77px;
  left: 21px;
}
.face1{
  background-position: 0px 0px;
}
.face2{
  background-position: -18px 0px;
}
.face3{
  background-position: -36px 0px;
}
.body1{
  background-position: 0px 0px; 
}
.body2{
  background-position: -75px 0px; 
}
.nose1{
  background-position: 0px 0px; 
}
.nose2{
  background-position: -10px 0px; 
}
.nose3{
  background-position: -20px 0px; 
}
.nose4{
  background-position: -30px 0px; 
}
.mouth1{
  background-position: 0px 0px; 
}
.mouth2{
  background-position: -10px 0px; 
}
.ears1{
  background-position: 0px 0px; 
}
.pants1{
  background-position: 0px 0px; 
}
.pants2{
  background-position: 0px 0px; 
}
.pants3{
  background-position: 0px 0px; 
}
.pants4{
  background-position: 0px 0px; 
}
.pantsemblem1{
  background-position: 0px 0px; 
}
.pantsemblem2{
    background-position: -28px 1px;
}
.pantsemblem3{
  background-position: -60px 0px; 
}
.pantsstripe1{
  background-position: 0px 0px; 
}
.pantsstripe2{
  background-position: -30px 0px; 
}
.pantsstripe3{
  background-position: -60px 0px; 
}
.trunks1{
  background-position: -12px 0px; 
}
.trunks2{
  background-position: -52px 0px; 
}
.trunks3{
  background-position: -92px 0px; 
}
.hair1{
  background-position: -1px 1px;
}
.hair2{
  background-position: -34px 1px;
}
.hair3{
  background-position: -69px 1px;
}
.hair4{
  background-position: -104px 2px;
}
.hair5{
  background-position: -144px -0px;
}
.hair6{
  background-position: -180px -0px;
}
.hair7{
  background-position: -216px -0px;
}
.hair8{
  background-position: -252px -0px;
}
.shoesLeft1 {
	background-position: 0px 0px;
}
.shoesLeft2 {
	background-position: -32px 0px;
}
.shoesRight1 {
	background-position: 0px 0px;
}
.shoesRight2 {
	background-position: -32px 0px;
}
.socksLeft1 {
	background-position: 0px 0px;
}
.socksLeft2 {
	background-position: -24px 1px;
}
.socksLeft3 {
	background-position: -48px 1px;
}
.socksRight1 {
	background-position: 0px 0px;
}
.socksRight2 {
	background-position: -24px 1px;
}
.socksRight3 {
	background-position: -48px 1px;
}
.leggings1{
  background-position: -143px 0px;
}
.leggings2{
  background-position: -36px 0px;
}
.leggings3{
  background-position: -72px 0px;
}
.leggings4{
  background-position: -108px 0px;
}
.shirt1{
  background-position: 0px 0px;
}
.shirt2{
  background-position: -20px 0px;
}
.shirt3{
  background-position: -144px 0px;
}
.wristpadsleft1{
  background-position: 0px 0px;
}
.wristpadsright1{
  background-position: -17px 0px;
}
.wristpadsleft2{
  background-position: -36px 0px;
}
.wristpadsright2{
  background-position: -53px 0px;
}
.elbowpadsleft1{
  background-position: 0px 0px;
}
.elbowpadsright1{
  background-position: -16px 0px;
}
.elbowpadsleft2{
  background-position: -179px -18px;
}
.elbowpadsright2{
  background-position: -197px -18px;
}
.elbowpadsleft3{
  background-position: -215px -18px;
}
.elbowpadsright3{
  background-position: -233px -18px;
}
.kneepadsLeft1{
  background-position: 0px 0px;
}
.kneepadsRight1{
  background-position: 0px 0px;
}
.kneepadsLeft2{
  background-position: -24px 0px;
}
.kneepadsRight2{
  background-position: -24px 0px;
}

/*EDITOR STUFF*/
#customColor {
	width: 350px;
	position: absolute;
	left: 446px;
	top: 370px;
}
div#partSelectors{
	background: #006600;
	width: 248px;
	height: 566px;
	border: 1px solid black;
}
div#partSelectors a.label.avatar{
  border-radius: 0 0 0 0;
}
div#avatarDesign{
	background: #ccffcc;
	height: 568px;
	width: 798px;
	border: 1px solid black;
	top: 0;
	left: 0;
	position: absolute;
}
div#workerEdit{
	height: 568px;
	width:548px;
	position: absolute;
	top: 0;
	left: 248px;
}
#stage{
	height: 180px;
	width: 144px;
	margin: 18px 18px 18px 90px;
	position: relative;
	float: left;
}
/*#colorPresets{
	height: 216px;
	width: 288px;
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	background: #009999;
	text-align: center;
}
*/
#colorPresets div#presetPartLabel{
  width: 200px;
  top: 15px;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
  font-weight: 400;
}
#colorPresets h5{
  position: relative;
  top: -5px;
  left: 32px;
  color: white;
}
#colorPresets .swatch{
  width: 54px;
  height: 34px;
  border: 2px solid #878787;
  background: #A9A9A9;
  float: left;
  margin: 0 4px 9px 0;
}
#colorPresets .swatch .overlay{
  background: url('/images/npw/avatar/new-npw/sw-preset_overlay.png') no-repeat;
  width: 52px;
  height: 32px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}
#colorPresets .row{
  position: relative;
  left: 45px;
  top: -17px;
}
#customColor .colorpicker {
  margin: 15px 0 10px 15px;
  width: 300px;
}
#customColor .ui-slider{

}
span.sliderLabel{
  margin: 5px 0 0 0;
  color: black;
  font-weight: bold;
}
div#customColorMenu{
  position: absolute;
  left: 16px;
  top: 132px;
}
#avatarDesign img,canvas{
  display: none;
}

/*FROM FLAT-UI*/

 .pager span.pagerLabel > a{
 	width: 90px;
 	border: 0 0 0 1px solid black;
 	font-size: 15px;
  font-weight: 400;
 }
#avatar div.pager{
     background: none;
	 margin: 0;
     border-radius: 6px;
     color: #ffffff;
     font-size: 16px;
     font-weight: 700;
     display: inline-block;
     zoom: 1;
  }
ul.pager.workerEdit{
	clear: both;
	display: block;
	margin-left: 10px;
}
div#partSelectors{
	background: #006600;
	width: 248px;
	height: 566px;
	border: 1px solid black;
}
div#partSelectors a.label.avatar{
  border-radius: 0 0 0 0;
}
div#avatarDesign{
	background: #ccffcc;
	height: 568px;
	width: 798px;
	border: 1px solid black;
	top: 0;
	left: 0;
	position: absolute;
}
div#workerEdit{
	height: 568px;
	width:548px;
	position: absolute;
	top: 0;
	left: 248px;
}


/* Form elements */
label.avatar-param-label {
	width: 75px;
}
label.avatar-param-label:after {
	content: ': ';
}
a.avatar-color-param {
	display: inline-block;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	background: #000;
	position: relative;
	top: 3px;
}
div #avatar div.tab-pane div.panel-body {
	padding-left: 0px;
	padding-top: 0px;
}
ul.avatar-panel-params li {
	padding: 7px 0px 0px 20px;
	display: inline-block;
	width: 50%;
	margin: 0;
	float: left;
	height: 35px;
}
ul.avatar-panel-params li.full {
	display: block;
	width: 100%;
}
ul.avatar-panel-params li.third {
	display: block;
	width: 32%;
}
ul.avatar-panel-params li.quarter {
	display: block;
	width: 24%;
}
.quarter label.avatar-param-label {
	width: 50px;
}
ul.avatar-panel-params li.odd {
	background: #FFF;
}
ul.avatar-panel-params li.even {
	background: #EEE;
}