<style type="text/css">
div.wrestler-submenu {
	width: 290px; 
	height:100px; 
	background: white; 
	border: 2px solid #808080;
}
</style>
<div class="wrestler-box-wrapper slot-{{slot}}">
	<div class="wrestler-details">
		<h3>{{wrestler}}</h3>
	</div>
	<div class="wrestler-avatar" style="
		background-image: url({{img}});
	"></div>
	<ul class="playerButtons" rel="{{actorId}}">
		<li class="circleButton">
			<a href="javascript:;" class="strategyButton" ng-click="tagOut(actorId)" title="Psychology & Strategy"></a>
		</li>
		<li class="circleButton">
			<a href="javascript:;" class="healthButton" ng-click="playerMenu(actorId, role, 'health')" title="Health & Injuries"></a>
		</li>
		<li class="circleButton">
			<a href="javascript:;" class="actionButton" ng-click="playerMenu(actorId, role, 'action')" title="Actions"></a>
		</li>
	</ul>
</div>
