<style type="text/css">
#gameplay-area {
/*	overflow: hidden;*/
}
stage-display {
	display: block;
	position: relative;
	width: 100%; 
	height: 100%;
	max-height: {{height}};
	max-width: {{width}};
	overflow: hidden;
	top: 45px;
}
#stage {
	background-image: url({{image}}); 
	width: {{width}}; 
	height: {{height}};
	display: block;
	position: absolute;
}
.actor {
	width: 100px;
	height: 150px;
	display: none;
	position: absolute;
}
.actor#bret {
	background-image: url(img/brethart.png);
}
.actor#razor {
	background-image: url(img/razorramon.png);
}
.actor#hbk {
	background-image: url(img/shawnmichaels.png);
}
.actor#undertaker {
	background-image: url(img/undertaker.png);
}

</style>
<div id="stage" ng-click="centerStage()">
	<npw-actor ng-repeat="wrestler in gameState.data.wrestlers" actorId="{{wrestler.id}}" location="{{wrestler.location}}" position="{{wrestler.position}}" facing="{{wrestler.facing}}" zone="{{wrestler.zone}}" team="{{wrestler.team}}"></npw-actor>
</div>
