<div id="game-menu" style="text-align: center">
	<input type="button" ng-disabled="!user.logged_in || gameState.data.active" value="New" ng-click="bot.command('connectfour','start')"></input>
	<input type="button" ng-disabled="!user.logged_in || gameState.data.usernames.indexOf(user.logged_in.username) != -1 || !gameState.data.active || gameState.data.started || !gameState.data.active" value="Join" ng-click="bot.command('connectfour','join')"></input>
	<input type="button" ng-disabled="!user.logged_in || gameState.data.usernames.indexOf(user.logged_in.username) == -1 || !gameState.data.active" value="Leave" ng-click="bot.command('connectfour','leave')"></input>
	<input type="button" ng-disabled="!user.logged_in || gameState.data.usernames.indexOf(user.logged_in.username) == -1 || !gameState.data.active || (gameState.data.player_count < 2) || gameState.data.started || !gameState.data.active" value="Begin" ng-click="bot.command('connectfour','begin')"></input>
</div>
